mixin message(date)
    article.message.animate__animated(id=date)
        h4 -----BEGIN OSS ENCRYPTED TRANSMISSION-----
        h5 TRANSMISSION DATE: #{date}
        block
        h4 -----END OSS ENCRYPTED TRANSMISSION-----


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LUNAFOX!!
        link(rel="stylesheet", href="/src/lunafox.scss")
    body
        header 
            section#music
                button#prev &lt;
                
                button#play play
                .range 
                    input#volume(type="range" value=10)
                button#next &gt;

            hr

            h1#title Lunaf0x's Dataspherespace!
            p.
                Welcome!
        
        main
            h2.animate__animated.animate__fadeInDown.animate__delay-1s Loading incoming messages...

            section#messages             
                each val, i in ["10-06-XXXXX", "13-04-XXXXX"]
                    -let delay = "animate__animated animate__fadeInDown animate__delay-" + (i + 2) + "s"
                    button(value=val, class=delay) #{val}

        
        +message("10-06-XXXXX")
            include:markdown-it posts/10-06-XXXXX.md 


        +message("13-04-XXXXX")
            include:markdown-it posts/13-04-XXXXX.md 

        
        script
            :songs
        
            
        script(src="messages.js")
        script(src="music.js" type="module") 